# ch4 immutable data structure

In [1]:
s="b9 is back"
print(id(s))

2645483668720

In [3]:
s="ramesh"
s1="suresh"
s3=3
s4="4"
print(s1+s)
print(s1+s3)
print(s1*s3)
print(s1*s3)
print(s1*s)

sureshramesh

TypeError: can only concatenate str (not "int") to str

In [4]:
s="Armaan"
s1="armaan"
s2="arib"
s3="arman"
print(s>s1)
print(s<s3)
print(s==s1)
print(s!=s3)
print(s2<s)

False
True
False
True
False

In [10]:
s="learning python is very easy"
print(s[5])
print(s[-6])
s[15]
print(s[-30])

i
y

IndexError: string index out of range

In [18]:
s="learning python is very easy"
print(s[6:])
print(s[0:7])
print(s[:7])
print(s[-1:-15:-2])#print(s[start:end:step])

ng python is very easy
learnin
learnin
ya rvs

In [22]:
s="akshat joshi"
s1="b9"
'#'.join(s1)
s2=['1','2','3']
'/'.join(s2)

'1/2/3'

## imp functions of string

In [41]:
#remove space
s="akshat joshi"
a=s.strip()
print(a)

akshat joshi

In [45]:
s="   akshat joshi"
print(s)
a=s.lstrip()
print(a)

   akshat joshi
akshat joshi

In [43]:
s="akshat joshi    "
a=s.rstrip()
print(a)

akshat joshi

In [44]:
s="akshat joshiiiii"
a=s.strip('i')
print(a)

akshat josh

In [46]:
s="   akshat joshi    "
print(s)
a=s.strip()
print(a)

   akshat joshi
akshat joshi

In [47]:
s="akshat"
print(s.upper())

AKSHAT

In [48]:
s="AKSHAT"
print(s.lower())

akshat

In [50]:
s="akshat joshi"
print(s.title())

Akshat Joshi

In [51]:
s="akshat joshi"
print(s.capitalize())

Akshat joshi

In [54]:
s="Akshat JOSHI"
print(s.casefold())

akshat joshi

In [55]:
s="AkShAt"
print(s.swapcase())

aKsHaT

## to check type of characters pesent in the string

In [56]:
s="akshat"
s.isalpha()

True

In [59]:
s="akshat1"
s.isdigit()

False

In [60]:
s="akshat123"
s.isalnum()

True

In [61]:
s="akshat 123"
s.isalnum()

False

In [62]:
s="akshat joshi"
s.isalpha()

False

In [63]:
s="akshatjoshi"
s.isalpha()

True

In [65]:
s='     '
s.isspace()

True

In [67]:
s='ABC 1234'
s.isupper()

True

In [68]:
s='abc 1234'
s.islower()

True

In [69]:
s="Abc Efg 2345"
s.istitle()

True

In [70]:
s='int'
s.isidentifier()

True

In [71]:
s="__a"
s.isidentifier()

True

In [72]:
s="_ _a"
s.isidentifier()

False

In [73]:
s='-_-'
s.isidentifier()

False

In [74]:
s="o_o"
s.isidentifier()

True

In [75]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '_TemplateMetaclass',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [76]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [5]:
txt="welcome to python"
print(txt.find("to"))

8

In [6]:
txt="welcome to python"
print(txt.find("Python"))

-1

In [11]:
txt="welcome to python"
txt.find('e',0,3)

1

In [12]:
txt="welcome to python"
txt.count("e")

2

In [13]:
txt="welcome to python"
txt.count("a")

0

In [14]:
txt="welcome to python"
txt.count("o",0,10)

2

# replace

In [21]:
txt="welcome"
print(txt.replace("e","a",1))
print(txt.replace("o","c"))
print(txt.replace("E","A"))

walcome
welccme
welcome

# split

In [32]:
txt="welcome everybody"
s=txt.split("o",1)
print(s)
print(len(s))

['welc', 'me everybody']
2

In [42]:
# translate with make trans function
import string
print(len(string.punctuation))
a=str.maketrans('','',string.punctuation)
print(a)

32
{33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}

In [50]:
s="gee@ks f@#r Ge_eks i$s ver_ imp"
s=s.translate(str.maketrans('G','%',string.punctuation))
print(s)

geeks fr %eeks is ver imp

# Tuple

In [54]:
t=(1,2,3,4,5,6,6,7,7)
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 6, 7, 7)

In [57]:
t=(1,2,3,4,5,6,6,7,7)
t[]
t[3:8]

(4, 5, 6, 6, 7)

In [58]:
t=(10,40,30,20,60,90)
t[1:-4:1]

(40,)

In [59]:
t=(10,40,30,20,60,90)
t[1:-4:-1]

()

In [60]:
t=(10,40,30,20,60,90)
t[-1:-4:-1]

(90, 60, 20)

In [61]:
t=(10,40,30,20,60,90)
t[4:100:1]

(60, 90)

In [62]:
t=(10,40,30,20,60,90)
t[1:6:2]

(40, 20, 90)

In [63]:
t=(10,40,30,20,60,90)
t[2::]

(30, 20, 60, 90)

# Mathematical operator in Tuple

In [66]:
t1=(10,20,30)
t2=(40,50,60)
print(t1+t2)
print(t1*3)

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 10, 20, 30, 10, 20, 30)

# main functions of tuple

In [73]:
t=(10,90,60,20,40,30,10,10)
print(len(t))
t1=(10,60,40,30,10,60,30)
print(t1.count(60))
print(t1.count(20))
t1.index(30,4,6)

8
2
0

ValueError: tuple.index(x): x not in tuple

In [74]:
t=(50,40,10,20,60,90)
sorted(t)

[10, 20, 40, 50, 60, 90]

In [75]:
t=(50,40,10,20,60,90)
sorted(t,reverse=True)

[90, 60, 50, 40, 20, 10]

In [76]:
t=(50,40,10,20,60,90)
min(t)

10

In [77]:
t=(50,40,10,20,60,90)
max(t)

90

# tuple packaging and tupel unpackaging

In [78]:
a,b,c,d=10,20,30,40
t=a,c,d,b
print(t)

(10, 30, 40, 20)

In [81]:
t1=(10,90,60,40)
a,b,c,d=t1
print(a)

10

In [83]:
t1=(10,90,60,40)

list(reversed(t1))

[40, 60, 90, 10]

In [84]:
t1=(10,90,60,40)

tuple(reversed(t1))

(40, 60, 90, 10)

In [85]:
t1=(10,90,60,40)

set(reversed(t1))

{10, 40, 60, 90}

In [86]:
t1=(10,40,60,40)

set(reversed(t1))

{10, 40, 60}

In [87]:
t1=(10,90,60,40)

(reversed(t1))

In [88]:
#enumerate function
t1=(10,90,60,40)
enumerate(t1)

In [89]:
#enumerate function
t1=(10,90,60,40)
list(enumerate(t1))

[(0, 10), (1, 90), (2, 60), (3, 40)]

In [90]:
#enumerate function
t1=(10,90,60,40)
print(enumerate(t1))

<enumerate object at 0x00000248902E9480>

In [1]:
#enumerate function
t1=(10,90,60,40)
list(enumerate(t1,2))

[(2, 10), (3, 90), (4, 60), (5, 40)]

In [2]:
#wap to find out length of string without using len function
s=input("enter your name:")
count=0
for i in s:
    print(i)
    count+=1
print("count:",count)

enter your name:akshat
a
k
s
h
a
t
count: 6

In [10]:
#wap to check whether the given string is palindrome or not using function
def pali(s):
    if s == s[::-1]:
        print("palidrome")
    else:
        return s
pali(input("enter string:"))

enter string:akshat

'akshat'

In [12]:
str=input("enter string:")
u=0
sy=0
s=0
d=0
for i in str:
    match str:
        case 1:i == (/s):
                s+=1
                print(s)
        case 2: i == ("A-Z")
                u+=1
                print(u)
        case 3:i == (0-9):
                d+=1
                print(d)
        case 4:i == (str.puctuation):
                sy+=1
                print(sy)

SyntaxError: invalid syntax (<ipython-input-12-bb1eaf53e843>, line 7)

In [1]:
str=input("enter string:")
count = 0
sum=0
div=0
for i in str:
    if i.isdigit():
        count+=1
        sum=sum+count
        div=sum/5
print(div)

enter string:ak12345
3.0

In [4]:
s="akshat"
sub="a"
if s.find(sub) == -1:
    print("not found")

In [9]:
str=input("enter string:")
output=""
a=0
for i in str:
    a=len(str)/2
    output=(str[int(a)])
print(str[0],output,str[-1])

enter string:shlok
s l k

In [1]:
str="ak"
print(str[-1])

k

In [11]:
"""s1=input("enter string:")
s2=input("enter string:")
output=""
if len(s1) == len(s2):
#bane string add thavi joie akshat aksht hoy to aa kk ss evi rite"""

's1=input("enter string:")\ns2=input("enter string:")\noutput=""\nif len(s1) == len(s2):\n#bane string add thavi joie akshat aksht hoy to aa kk ss evi rite'

In [13]:

str=input("enter string:")
d=""
a=""
b=""
for i in str:
    if i.isalpha():
        a+=i
    elif i.isdigit():
        b+=i
    else:
        d+=i
fs=a+b+d
print(sorted(fs))

enter string:ak@1
['1', '@', 'a', 'k']